.formElement {
  background-color: #f8e8d3;
  opacity: 0.9;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 8px 7px 2px rgba(0, 0, 0, 0.3);
}

.listButton {
  background-color: rgba(255, 255, 255, 0.2);
  color: blue;
  border: 0.8px solid blue;
}

.listMain {
  border: 1px solid black;
  width: 80%;
  margin: 40px auto;
  display: flex;
}

.title {
  flex-grow: 0.8;
  padding: 18px;
}

.completed {
  flex-grow: 0.2;
  padding-left: 0;
}

.listMain:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.mainForm {
  display: flex;
  flex-direction: column;
}

input {
  width: 90%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: #e5a52e;
  border: none;
  color: white;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
